#content {
    float: left;
    width: 80%;
    min-height: 500px;
}

ul li {
    list-style-type: none;
    text-align: left;
}

section{
    background: linear-gradient(45deg,#A0E739,#09cac0);
    font-family: consolas !important;
}

div{
    padding: 10px;
}

label{
    margin-left: 15px;
}