<section>
    <div class="px-4 py-5 px-md-5 text-center text-lg-start"
        style="background-color: linear-gradient(45deg,#A0E739,#09cac0 )">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        La mejor página <br />
                        <span class="text-primary">para tu salud</span>
                    </h1>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form action="" id="formulario_sesion">
                                <!-- Email input -->
                                <div class="form-outline mb-2">
                                    <input type="email" id="correo" [(ngModel)]="correo" name="correo" class="form-control"  required />
                                    <label class="form-label" for="correo">Correo Electrónico</label>
                                </div>
                                <div class="mt-3">
                                    <!--<label id="correo-error" class="error" for="correo" style="margin-left: 0px;">Este
                                        campo es obligatorio.</label>-->
                                </div>
                                <!-- Password input -->
                                <div class="form-outline mb-2">
                                    <input type="password" id="contrasena" [(ngModel)]="contrasena" name="contrasena" class="form-control" required />
                                    <label class="form-label" for="contrasena">Contraseña</label>
                                </div>
                                <div class="mt-3">
                                    <!--<label id="contraseña-error" class="error" for="contraseña">Este campo es
                                        obligatorio.</label>-->
                                </div>
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-success btn-block mb-5" (click)="sesion()" id="enviar">
                                    Iniciar Sesión
                                </button>
                                <!-- Register buttons -->
                                <div class="text-center">
                                    <p>No eres miembro? <a class="text-success" href="registro.html">Registrate</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>