<body>
    <img src="assets/images/depositphotos_22972098-stock-photo-blank-anatomy-figure-front-view-PhotoRoom.png-PhotoRoom.png"
        id="cuerpoHumano" usemap="#mapaCuerpo" />
    <map name="mapaCuerpo">
        <area shape="poly" coords="120,119,120,184,102,230,75,272,72,280,69,302,61,325,56,328,53,333,41,335,31
            ,325,40,292,25,295,39,283,51,277,71,219,95,165,97,137,107,126" href="/brazos">
        <area shape="poly" coords="220,118,235,123,246,137,248,164,260,195,271,215,283,258,290,274,320,294
            304,293,311,327,303,333,284,327,275,303,272,284,266,269,243,235,237,209,223,184" href="/videos">
        <area shape="poly" coords="120,119,153,106,171,119,188,107,220,118,223,184,120,184" href="/brazos">
        <area shape="poly" coords="120,184,223,184,214,211,214,253,197,264,146,264,138,262,128,252,130,212"
            href="/videos">
        <area shape="poly" coords="214,253,229,337,229,366,218,396,217,427,220,454,215,496,214,538
            ,220,550,230,562,232,571,225,576,212,578,204,568,200,555,193,548,196,516,191,475,186,465,187,447
            189,426,177,351,177,314,173,311,169,311,166,314,165,352,156,406,153,427,156,452,156,465,151,476,
            146,519,150,547,141,557,140,568,133,578,125,579,111,572,111,565,128,541,129,526,124,460,123,444
            ,126,435,124,395,115,373,113,339,125,281,126,263,128,252" href="/videos">
    </map>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button styles="" class="accordion-button collapsed" type="button" id="brazo" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Brazos
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <ul id="ejercicio">
                    <li>
                        <a href="/videos"><span>Jalón a la cara</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" id="pecho" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Pecho
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <ul id="ejercicio">
                    <li>
                        <a href="/videos"><span>Jalón a la cara</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" id="abdomen" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Abdomen
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <ul id="ejercicio">
                    <li>
                        <a href="/videos"><span>Jalón a la cara</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" id="pierna" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Piernas
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                data-bs-parent="#accordionFlushExample">
                <ul id="ejercicio">
                    <li>
                        <a href="/videos"><span>Jalón a la cara</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>