.error {
    color: red;
}

.gradient-custom {
    font-family: consolas !important;
    /* fallback for old browsers */
    background: #A0E739;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, #A0E739, #09cac0);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, #A0E739, #09cac0)
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.resultado-grande {
    font-size: 30px;
  }
.card-registration .select-arrow {
    top: 13px;
}