<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 m-3 p-5 rounded-5" style="background-color: white;">
                <div class="row text-center">
                    <h1>Información</h1>
                </div>
                <div class="row m-2">
                    <h2>¿Quienes somos?</h2>
                    <p>Somos un grupo de 3 estudiantes de la <u><a href="https://www.pucv.cl" target="_blank">Pontificia
                                Universidad Católica de Valparaíso</a></u> que quieren contribuir a la salud general de
                        la
                        población mediante la creación de esta página</p>
                    <h2>¿Quieres contactar con nosotros?</h2>
                    <p>
                        <i class="material-icons">mail</i>
                        Correo de contacto: correofalso@nutrifitnation.cl<br />
                        <i class="material-icons">person</i>
                        Facebook: facebook.com/NutriFitNation<br />
                        <i class="material-icons">photo_camera</i>
                        Instagram: instagram.com/NutriFitNation<br />
                    </p>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</section>