<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 m-3 p-5 justify-content-center rounded-5" style="background-color: white;">
                <div class="row tex-center m-3">
                    <h1>Términos y condiciones</h1>
                </div>
                <p>Al acceder a este sitio web, asumimos que aceptas estos términos y condiciones en su totalidad. No
                    continúes usando el sitio web si no aceptas todos los términos y condiciones establecidos en esta
                    página.<br /></p>
                <h2>Cookies</h2>
                <p>Empleamos el uso de cookies. Al utilizar el sitio web de <u>NutriFitNation</u>, usted acepta el uso
                    de cookies de acuerdo con la política de privacidad de <u>NutriFitNation</u>. La mayoría de los
                    modernos sitios web interactivos de hoy en día usan cookies para permitirnos recuperar los detalles
                    del usuario para cada visita.<br /></p>
                <h2>Licencia</h2>
                <p>A menos que se indique lo contrario, <u>NutriFitNation</u> y/o sus licenciatarios les pertenecen los
                    derechos de propiedad intelectual de todo el material en <u>NutriFitNation</u>.<br /></p>
                <h2>Aviso legal</h2>
                <p>En la medida máxima permitida por la ley aplicable, excluimos todas las representaciones, garantías y
                    condiciones relacionadas con nuestro sitio web y el uso de este sitio web (incluyendo, sin
                    limitación, cualquier garantía implícita por la ley con respecto a la calidad satisfactoria,
                    idoneidad para el propósito y/o el uso de cuidado y habilidad razonables).<br></p>
                <p>Ante cualquier duda, refíerase a: <a href="/informacion">Información.</a></p>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</section>