<div class="alimentacion">
    <p id="subtitulo">Tipos de dieta:</p>
    <ul>
        <b>
            <li id="vegetarianos">
                <p>Comida para vegetarianos:</p>
            </li>
        </b>
        <li>
            <p>Vegetales</p>
        </li>
        <li>
            <p>Frutas</p>
        </li>
        <li>
            <p>Granos integrales</p>
        </li>
        <img src="assets/images/comida-vegana-1-1240x700-1.jpg" id="vegetales">
        <li>
            <p>Legumbres</p>
        </li>
        <li>
            <p>Semillas</p>
        </li>
        <li>
            <p>Nueces</p>
        </li>
        <li>
            <p>Puede incluir huevos y/o leche, si es lactoovovegetariano</p>
        </li>
        <b>
            <li id="veganos">
                <p>Comida para veganos:</p>
            </li>
        </b>
        <li>
            <p>Frutas y verduras</p>
        </li>
        <li>
            <p>Legumbres</p>
        </li>
        <img src="assets/images/comida-vegana-alemania.jpg" id="hamburguesa">
        <li>
            <p>Granos integrales y cereales</p>
        </li>
        <li>
            <p>Frutos secos y Semillas</p>
        </li>
        <li>
            <p>Alternativas veganas de la carne</p>
        </li>
        <b>
            <li id="carbohidratos">
                <p>Alimentos bajos en carbohidratos:</p>
            </li>
        </b>
        <li>
            <p>Proteinas</p>
        </li>
        <li>
            <p>Frutas</p>
        </li>
        <img src="assets/images/Carbohydrates_share.jpg" id="proteinas">
        <li>
            <p>Frutos secos</p>
        </li>
        <li>
            <p>Aceites de girasol y de Oliva</p>
        </li>
        <li>
            <p>Verduras</p>
        </li>
        <b>
            <li id="celiacos">
                <p>Comida para celiacos:</p>
            </li>
        </b>
        <li>
            <p>Carne</p>
        </li>
        <li>
            <p>Pescado y marisco</p>
        </li>
        <img src="assets/images/gluten-free-1-848x477x80xX.jpg" id="gluten">
        <li>
            <p>Frutas y verduras</p>
        </li>
        <li>
            <p>Huevos y leche</p>
        </li>
        <li>
            <p>Arroz</p>

        </li>
    </ul>
</div>