#content {
    float: left;
    width: 80%;
    min-height: 500px;
}

section {
    background: linear-gradient(45deg, #A0E739, #09cac0);
    font-family: consolas !important;
    text-align: center;
}