<footer>
    <div class="container-fluid">
        <div class="row p-5 pb-2 bg-dark text-white">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h3">NutriFitNation</p>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5 mb-3">Links</p>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="/terminos">Terminos y condiciones</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="/informacion">Politica de privacidad</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5 mb-3">Contacto</p>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="https://www.instagram.com/">Instagram</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="https://web.facebook.com/">Facebook</a>
                </div>
            </div>
            <div class="col-xs-12">
                <p class="text-white text-center">Copyright - All rights reserved © 2023 </p>
            </div>
        </div>
    </div>
</footer>